#vote {
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
}

html,
body,
#vote,
#root {
  /* height: 100%; */
}

* {
  font-family: "Roboto", sans-serif;
}

.far .fa-star {
  color: #333;
}

.nom {
  font-weight: bold;
  font-size: 20px;
}
.parcours {
  display: block;
  width: 100%;

  text-decoration: none;
  color: #434343;
  padding: 0 15px;
  background: #fff;

  text-align: center;
  border: #eee 1px solid;
  line-height: 70px;
  border-radius: 6px;
}

.parcours:hover {
  border: solid 1px #ccc;
}

.parcours a {
  display: block;
  color: #333;
  text-decoration: none;
}

.demo_visuel {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat !important;

  background-size: 70% !important;
  background-position: 50%;
  background-position-x: center !important;
}

.flags {
  display: flex;
  justify-content: flex-end;
}

.flags img {
  height: 40px !important;
  padding: 5px;
}

.data_note {
  cursor: pointer;
}

@media (max-width: 800px) {
  .h1,
  h1 {
    font-size: 1.5rem !important;
  }

  .col-form-label {
    display: none;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }

  input[type="checkbox"]:checked {
    background: yellow;
    margin: 0px;
    position: relative;
  }

  input[type="checkbox"] {
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
  }
}

.demo__logo-contact,
.demo__presta-visuel {
  width: 200px;
  height: 100px;

  margin: "2px";
  display: flex;
  justify-content: center;
  flex-basis: content;
}

.demo__logo-contact img,
.demo__presta-visuel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Style the header */
.DemoHeader {
  padding: 10px 16px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  font-size: 16px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.note__demo-title {
  font-size: 14px;
}

.note__critere-title {
  font-size: 10px;
  text-transform: uppercase;
}

.note__star-container {
  display: flex;
  justify-content: space-between;
}
.note__star {
}

 